/lab05/nbproject/private/
/Lab05temp/lab05/nbproject/private/
/Lab05/Lab05/nbproject/private/
/Lab07/Lab07/nbproject/private/
/Lab07/Lab07/build/
/Lab08/Lab08/nbproject/private/
/Lab08/Lab08/build/
/Lab05/nbproject/private/
/Lab07/nbproject/private/
/Lab08/nbproject/private/
/Lab08/build/
/Lab09/nbproject/private/
/Lab09/build/