/lab05/nbproject/private/
/Lab05temp/lab05/nbproject/private/
/Lab05/Lab05/nbproject/private/
/Lab07/Lab07/nbproject/private/
/Lab07/Lab07/build/
/Lab08/Lab08/nbproject/private/
/Lab08/Lab08/build/
/Lab05/nbproject/private/
/Lab07/nbproject/private/
/Lab08/nbproject/private/
/Lab08/build/
/Lab09/nbproject/private/
/Lab09/build/
/Lab10/nbproject/private/
/Lab10/build/
/Lab07/build/
/Lab11/nbproject/private/
/Lab11/build/
/Lab12/nbproject/private/
/Lab12/build/
/Lab13/nbproject/private/
/Lab13/build/
/Lab14/nbproject/private/
/Lab14/build/
/Lab15/nbproject/private/
/Lab16/nbproject/private/
/Lab15/build/
/Login/nbproject/private/
/Login/build/
/Login Project/nbproject/private/
/Login Project/build/